html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#title{
  font-size: 100px;
  color: white;
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  outline: solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
}


.ad{
  color: white;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.star{
  position: fixed;
}

#controlsSign { 
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: white;
}

.keyPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key{
  color: white;
  outline: solid ;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.lowerKeys {
  display: flex;
  justify-content: center;
  align-items: center;
}

#spaceBar {
  color: white;
  outline: solid ;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}