html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1{
  font-size: 100px;
  color: white;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  outline: solid white;
  border-radius: 10px;
  background-color: black;
  color: white;

}

#options {
  width: 50%;
  color: white;
  outline: solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 60px;
  font-weight: bold;
  color: rgb(35, 35, 35);
}